<footer class="footer">
  <div class="footer__zone1 grid">
    <h1 class="footer__logo one-third">
      <a href="{{ '/' | relative_url }}"
        ><img
          src="{{ '/assets/images/sybelle_logo.svg' | relative_url }}"
          alt=""
        />
        <span class="baseline">Votre parenthèse beauté</span>
      </a>
    </h1>
    <div class="footer__contact">
      <h3>Pour commander avec votre catalogue :</h3>
      <ul>
        <li>
          <img
            src="{{ '/assets/images/icon-phone.svg' | relative_url }}"
            alt=""
          /><img
            id="sva"
            src="{{ '/assets/images/numSVA.svg' | relative_url }}"
            alt="{{ site.data.footer_bottom.num_sva }} "
          />
        </li>
        <li>
          <img
            src="{{ '/assets/images/icon-mail.svg' | relative_url }}"
            alt=""
          />Par courrier : SYBELLE - 59685 Lille CEDEX 2
        </li>
      </ul>
    </div>
    <div class="footer__partenaires">
      <h3>Partenaires</h3>
      <ul>
        {% for elt in site.data.footer %}
        <li>
          {%- comment -%}absolute link @show footer.json{%- endcomment -%}
          <a href="{{ elt.link }}" target="_blank">
            {{ elt.text }}
          </a>
        </li>
        {% endfor%}
      </ul>
    </div>
  </div>

  {% assign it = site.data.footer_bottom %}
  <div class="footer__copyright">
    <ul>
      <li>
        <a href="{{ it.bottom_link.mentions.path | relative_url }}">{{
          it.bottom_link.mentions.text
        }}</a>
      </li>
      <li>
        <a href="{{ it.bottom_link.cgv.path | relative_url }} ">{{
          it.bottom_link.cgv.text
        }}</a>
      </li>
      <li>Copyright © 2019 - Domoti.</li>
    </ul>
  </div>
</footer>
