<footer class="footer">
  <div class="footer__zone1 grid">
    <h1 class="footer__logo one-third">
      <a href="{{ '/' | relative_url }}"
        ><img
          src="{{ '/assets/images/sybelle_logo.svg' | relative_url }}"
          alt=""
        />
        <span class="baseline">Votre parenthèse beauté</span>
      </a>
    </h1>
    <div class="footer__contact">
      <h3>Pour commander avec votre catalogue :</h3>
      <ul>
        <li>
          <img
            src="{{ '/assets/images/icon-phone.svg' | relative_url }}"
            alt=""
          /><img
            src="{{ '/assets/images/numSVA.svg' | relative_url }}"
            alt=""
          />
        </li>
        <li>
          <img
            src="{{ '/assets/images/icon-mail.svg' | relative_url }}"
            alt=""
          />Par courrier : SYBELLE - 59685 Lille CEDEX 2
        </li>
      </ul>
    </div>
    <div class="footer__partenaires">
      <h3>Partenaires</h3>
      <ul>
        <li>
          <a href="/">Temps L - Accessoires astucieux Cuisine et Maison</a>
        </li>
        <li><a href="/">Marianne Mélodie - Chansons françaises retro</a></li>
        <li>
          <a href="/">L’Atelier de Lucie - Point de croix canevas tricot</a>
        </li>
        <li>
          <a href="/">Confort & Vie - Objets pratiques pour les seniors</a>
        </li>
        <li><a href="/">Chien Chat et Compagnie - Animalerie</a></li>
        <li><a href="/">Idées Homme - Idées Cadeaux</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__copyright">
    <ul>
      <li><a href="/">Mentions légales</a></li>
      <li><a href="/">Conditions générales de vente</a></li>
      <li>Copyright © 2019 - Domoti.</li>
    </ul>
  </div>
</footer>
