<header class="header">
  <h1 class="logo">
    <a href="{{ '/' | relative_url }}"
      ><img
        src="{{ '/assets/images/sybelle_logo.svg' | relative_url }}"
        alt=""
      />
      <span class="baseline">Votre parenthèse beauté</span>
    </a>
  </h1>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        {% for item in site.pages %} {% if item.url != '/assets/main.css' and
        item.url != '/404.html' %}
        <li>
          <a href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>
        </li>
        {%endif%} {%endfor%}
      </ul>
    </div>
  </nav>
</header>
