<header class="header">
  <h1 class="logo">
    <a href="{{ '/' | relative_url }}"
      ><img
        src="{{ '/assets/images/sybelle_logo.svg' | relative_url }}"
        alt=""
      />
      <span class="baseline">Votre parenthèse beauté</span>
    </a>
  </h1>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <ul class="right hide-on-med-and-down">
        {% for page in site.pages %}
        {{
          page.title
        }}
        {%endfor%}
      </ul>
    </div>
  </nav>
</header>
