<header class="header">
  <div class="header__topbar">
    <ul>
      <li><a href="">Besoin d’aide ? Contactez-nous !</a></li>
    </ul>
  </div>
  <div class="header__site">
    <h1 class="header__logo">
      <a href="{{ '/' | relative_url }}"
        ><img
          src="{{ '/assets/images/sybelle_logo.svg' | relative_url }}"
          alt=""
        />
        <span class="baseline">Votre parenthèse beauté</span>
      </a>
    </h1>
    <nav class="header__nav" role="navigation">
      <ul class="right hide-on-med-and-down">
        {% for item in site.pages %} {% if item.url != '/assets/main.css' and
        item.url != '/404.html' and item.url != '/feed.xml' %}
        <li>
          <a href="{{ item.url | relative_url }}">
            {{ item.title }}
          </a>
        </li>
        {%endif%} {%endfor%}
      </ul>
    </nav>
  </div>
</header>
