// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.presentation-banner {
  margin-top: 4rem;
  padding: 3rem 0 4rem 0;
  background-image: url('../assets/images/home_presentation.jpg');
  background-repeat: no-repeat;
  background-size: 1140px;
  background-position: 6px;
  &__txt {
    padding-left: 28.8rem;
    h1 {
      margin: 0;
      margin-bottom: 0.2rem;
      color: $white;
      font-family: $font-family-headings;
      font-size: $display-medium;
      font-weight: bold;
      font-style: italic;
      line-height: 4rem;
    }
    p {
      margin: 0;
      color: $greys-steel;
      font-size: $body-large;
      line-height: 3.2rem;
    }
  }
  &__cover {
    text-align: center;
    img {
      width: 15.6rem;
      transform: rotate(6deg);
      box-shadow: 0 2px 4px rgba(0,0,0,.25);
    }

  }
}

.produits {
  $self: &; // @see https://css-tricks.com/using-sass-control-scope-bem-naming/
  margin-top: 4rem;
  padding: 0 0.6rem;

  &__title {
    @extend .displayMedium;
  }
  &__sub-title {
    @extend .heading;
  }
  &__text {
    @extend .bodyMedium;
  }

  &__gamme {
    max-width: 66rem;
    margin-right: 1.2rem;
    border: 1px solid pink;
    background-color: $white;
    border-radius: 0.8rem;

    &--hero {
      display: block;
      margin: 0 auto;
      margin-top: 3.2rem;
      width: 47.2rem;
      height: auto;
    }

    #{ $self }__title {
      margin-top: 1.6rem;
    }
    #{ $self }__text {
      margin-top: 1.6rem;
    }
    #{ $self }__sub-title {
      margin-top: 0.8rem;
    }

    #{ $self }__title,
    #{ $self }__sub-title,
    #{ $self }__text {
      padding-left: 8rem;
      padding-right: 8.2rem;
    }

  }

  &__bio,
  &__made-in {
    display: flex;
    margin-left: 9.6rem;
    img {
      width: 8.4rem;
      height: auto;
    }
    p {
      @extend .bodyMedium;
      height: max-content;
      align-self: center;
      margin-left: 1.6rem;
    }
  }

  &__bio {
    margin-top: 4rem;
  }
  &__made-in {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
  }

  &__block {
    height: 35.2rem;
    padding-top: 3rem;
    padding-left: 4.8rem;
    padding-right: 4rem;
    margin-top: 0.8rem;
    background-image: linear-gradient(91deg, #fff0f0, #fff9f9);
  }

  &__compo {

    max-width: 46.8rem;
    // margin-top: 0.8rem;

    &--hero {
      width: 46.8rem;
      height: auto;
    }
    #{ $self }__sub-title {
      margin-top: 2.4rem;
    }

    #{ $self }__btn {
      @extend .heading;
      display: block;
      width: 24.8rem;
      height: 4.8rem;
      margin: 0 auto;
      margin-top: 4rem;
      line-height: 4.8rem;
      text-align: center;
      color: $white;
      background-color: $primary-dark;
    }

  }

}

.who-are-we {
  margin: 4rem 0;
  background-image: linear-gradient(135deg, #FFF0F0 0%, #FFF9F9 100%);
    border-radius: 8px;
  $self: &;
  &__title {
    @extend .displayMedium;
  }
  &__text {
    @extend .bodyMedium;
  }
  &__section1{
    display: flex;
    #{ $self }__title {margin-top: 2.40rem;}
    #{ $self }__text {margin-top: 1.6rem;}
    img {
      max-width: 46.8rem;
      margin-top: 3.2rem;
      margin-right: 3.2rem;
      & + div {
        max-width: 66rem;
      }
    }
  }
  // FIX bug safari
  &__blocktext {
    max-width: 66rem;
  }
  &__section2{
    display: flex;
    margin-top: 4rem;

    p {
      @extend .bodyMedium;
      max-width: 66rem;
      padding-top: 1.6rem; padding-left: 2.4rem; padding-right: 1.6rem;
      margin-right: 1.2rem;
      line-height: 3.2rem;

      & > img{
        display: block;
        margin: 0 auto;
        width: 31.2rem;
        margin-top: 3rem;
      }
    }
    img {
      max-width: 46.8rem;
      margin-bottom: 10.4rem;
    }

  }
}
