.activline, .activline > td {
  border: solid 3px $white;
  background-color: rgba(255, 230, 0, 0.4) !important;
}

.mdr {
  display: flex;
  justify-content: center;
  margin-bottom: 4.6rem;
}
button {
  background: none;
  border: none;
}
input {
  width: 27.8rem;
  height: 4rem;
  padding-left: 0.8rem;
  border: 1px solid #979797;
  border-radius: 0.8rem;
  font-size: $heading;
  line-height: $heading;
  // &::placeholder {
  // }
}

.ingredients-array {
    border-collapse: collapse;
    margin-bottom: 6.4rem;

  th {
    height: 4rem;
    vertical-align: middle;
    @extend .bodyMedium;
    font-weight: bold;
    border: 1px solid $greys-snow;
    border-bottom: 0;
  }
  th:nth-child(0n+1),
  th:nth-child(0n+2) {
    width: 19.2rem;
  }
  th:nth-child(0n+3) {
    padding-left: 1.6rem;
    text-align: left;
  }

  tr:nth-child(even) td {
    background-color: $primary-medium;
  }

  td {
    line-height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 1.6rem;
    vertical-align: top;

    &:last-child {
      padding-top: 1rem;
      padding-left: 0.8rem;
    }
  }

  td:nth-child(0n+1),
  td:nth-child(0n+2) {
    @extend .bodyMedium;
    line-height: 2rem;
    text-align: center;
  }
  td,
  th {
    color: $greys-steel-light;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $primary-dark; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
