.activline, .activline > td {
  border: solid 3px $white;
  background-color: rgba(255, 230, 0, 0.4) !important;
}

// search search mdr search_btn
.mdr {
  display: flex;
  justify-content: center;
  margin-bottom: 4.6rem;
}

button {
  background: none;
  border: none;
}

input {
  width: 29.6rem;
  height: 4rem;
  padding-left: 0.8rem;
  border: 1px solid #979797;
  border-radius: 0.8rem;
  font-size: $body-medium;
  line-height: 4rem;
  caret-color: #666; // | color
}

.paragraphes {
  @extend .bodyMedium;
  text-align: center;
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
  color: $greys-steel;
}

.ingredients-array {
    border-collapse: collapse;
    margin-bottom: 6.4rem;

  th {
    height: 4rem;
    vertical-align: middle;
    @extend .bodyMedium;
    font-weight: bold;
    border: 1px solid $greys-snow;
    border-bottom: 0;
  }
  th:nth-child(0n+1),
  th:nth-child(0n+2) {
    width: 19.2rem;
  }
  th:nth-child(0n+3) {
    padding-left: 1.6rem;
    text-align: left;
  }

  tr:nth-child(even) td {
    background-color: $primary-medium;
  }

  td {
    line-height: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 1.6rem;
    vertical-align: top;

    &:last-child {
      padding-top: 1rem;
      padding-left: 0.8rem;
    }
  }

  td:nth-child(0n+1),
  td:nth-child(0n+2) {
    @extend .bodyMedium;
    line-height: 2rem;
    text-align: center;
  }
  td,
  th {
    color: $greys-steel-light;
  }
}
