// override .container global definition
// selector weight: 20 (class = 10 * 2 = 20)
.container.legal {
  padding: 0 0.6rem;
}

.legal {
  &__title {
    margin-top: 1.6rem;
    @extend .displayMedium;
    text-align: center;
    color: $primary-dark;
  }

  &__subTitle {
    height: 4rem;
    margin-top: 3.2rem;
    padding-left: 3.2rem;
    @extend .bodyLarge;
    font-weight: bold;
    line-height: 4rem;
    color: $white;
    background-image: linear-gradient(to left, #ffffff, #ba8bcb 40%);
  }

  &__text {
    margin-top: 2.4rem;
    @extend .bodyLarge;
    line-height: 3.2rem;
  }
}
