// override .container global definition
// selector weight: 20 (class = 10 * 2 = 20)
.container.legal {
  padding: 0 0.6rem;
}

.legal {
  &__title {
    margin-top: 1.6rem;
    @extend .displayMedium;
    text-align: center;
    color: $primary-dark;
  }

  &__subTitle {
    height: 4rem;
    margin-top: 3.2rem;
    padding-left: 3.2rem;
    @extend .bodyLarge;
    font-weight: bold;
    line-height: 4rem;
    color: $white;
    background-image: linear-gradient(to left, #ffffff, #ba8bcb 40%);
  }

  &__text {
    @extend .bodyLarge;
    line-height: 3.2rem;
  }
}

.presentation-banner {
  margin-top: 4rem;
  padding: 3rem 0 4rem 0;
  background-image: url('../assets/images/presentation.jpg');
  background-repeat: no-repeat;
  background-size: 1140px;
  background-position: 6px;
  &__txt {
    padding-left: 28.8rem;
    h1 {
      margin: 0;
      margin-bottom: 0.2rem;
      color: $white;
      // font-family: $font-family-headings;
      // font-size: $display-medium;
      // font-weight: bold;
      // font-style: italic;
      // === bellow
      @extend .displayMedium;
      line-height: 4rem;
    }
    p {
      margin: 0;
      color: $greys-steel;
      font-size: $body-large;
      line-height: 3.2rem;
    }
  }
  &__cover {
    text-align: center;
    img {
      width: 15.6rem;
      transform: rotate(6deg);
      box-shadow: 0 2px 4px rgba(0,0,0,.25);
    }

  }
}
