// -----------------------------------------------------------------------------
// This file contains all application colors.
// -----------------------------------------------------------------------------

////
//// @group brand colors
//// @author Alexandre BOCA
//// @author Manuel De Vries
//// @type Color
////

// adding color to reference in the components / atoms / color / import_colorSass.module.scss file

/// brand color
$primary-dark: #E05479 !default;
$primary-regular: #F55691 !default;
$primary-medium: #fff8f9 !default;
$primary-light: #fff1f2 !default;
$primary-gradient: url("#primary-gradient") !default;
/// primary color
$color-primary: #0275d8 !default;
/// secondary
$greys-steel: #333 !default;
$greys-steel-light: #444 !default;
$greys-snow: #ebebeb;
$white: #fff;
/// sucess color
$color-success: #5cb85c !default;
/// info color
$color-info: #5bc0de !default;
/// warning color
$color-warning: #f0ad4e !default;
/// danger color
$color-danger: #d9534f !default;
/// inverse color
$color-inverse: #333 !default;
/// gost color
$color-ghost: transparent;
/// muted color
$color-muted: #e7e9ed !default;
/// base color
$color-base: #212529 !default;
/// background color
$background-base: #fff !default;

/// base gray
$light-gray: #999;
$medium-gray: #666;
