// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.site__wrapper {
  margin: 0 auto;
}

.site__header {
  background: #ccc;
}

.header__search,
.header__profile,
.header__cart {
  margin: 10px;
  background: #eee;
}

.site__nav {
  background: rgb(166, 58, 228);
}

.site__main {
  padding: 2rem;
  background: rgba(255, 166, 0, 0.357);
}

.site__sidebar {
  padding: 2rem;
  background: rgba(210, 105, 30, 0.384);
}

.site__footer {
  background: #ccc;
}

.header__wrapper,
.nav__wrapper,
.footer__wrapper {
  max-width: $site-max-width;
  margin: 0 auto;
}

.nav__wrapper {
  height: 100%;
  min-height: $nav-min-height;
}

.header__brand {
  img {
    display: block;
    max-width: 220px;
    margin: 0 auto;
  }
}

.site__header--sticky {
  .header__brand {
    h1 {
      text-align: center;
    }

    img {
      max-height: 50px;
    }
  }
}

