---
layout: default
title: Accueil
permalink: /accueil/
---

<div class="container">
  <section class="presentation-banner grid has-gutter-all">
    <!-- <div class="presentation-banner__txt three-quarters"> -->
    <div class="presentation-banner__txt three-quarters">
      <h1>Bonjour et bienvenue<br />sur notre site Sybelle !</h1>
      <p>
        Notre site est en train de se faire une beauté pour vous satisfaire au
        maximum mais vous pouvez dès à présent retrouver tous les ingrédients de
        nos produits vendus sur notre catalogue !
      </p>
    </div>
    <div class="presentation-banner__cover one-quartes">
      <img src="assets/images/CouvSybelle.jpg" alt="" />
    </div>
  </section>
  <section class="produits">
    <h1>Nos produits</h1>
    <h2>Une gamme essentielle pour se sentir bien tous les jours !</h2>
    <p>
      Soins, crèmes, maquillage, accessoires... Nous avons sélectionné avec la
      plus grande attention des produits de qualité supérieure, certes... Et
      surtout, nous les avons nous-mêmes testés ! Si nous vous les proposons
      ici, c’est que, au-delà de la conformité aux tests cosmétiques passés haut
      la main, nous sommes convaincues de leur efficacité : vous pouvez les
      commander les yeux fermés.
    </p>
    <div class="logo-produits">
      <div class="bio">
        <img src="logo-bio.png" alt="" />
        <p>
          Une gamme bio : Reconnaissez facilement les produits certifiés bio !
        </p>
      </div>
      <div class="made-in">
        <img src="logo-made-in-fr.png" alt="" />
        <p>
          Des produits fabriqués en France
        </p>
      </div>
    </div>
  </section>
</div>
