{%- comment -%}
deux versions du layout default
1- default_ :  _pages/2_ingredients.html → tu es dedans…
2- default  : _layouts/page.html
{%- endcomment -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body>
    <div class="container-flat">

      {% include header_.html %}

      {% include ariane.html %}

      <main class="container">
        {{ content }}
      </main>

      {% include footer.html %}

      {% include script.html %}

    </div>
  </body>

</html>
