---
layout: default
---

<!-- {% assign default_paths = site.pages | map: "path" %} {% assign page_paths
      = site.header_pages | default: default_paths %} {% if page_paths %} {% for
      path in page_paths %} {% assign my_page = site.pages | where: 'path', path
      | first %} {% if my_page.title %}
      <h3>{{ my_page.title }}</h3>
      {% endif %} {% endfor %} {% endif %}
      <h4>Total page : {{ site.pages | map: 'path' }}</h4>
      <h4>page dir : {{ page.dir }}</h4>
      <h4>page name : {{ page.name }}</h4> -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container"></div>
</div>
