<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">

  {% include head.html %}

  <body>
    <div class="container-flat">

      {% include header.html %}

      {% include ariane.html %}

      <main class="container legal">
        {{ content }}
      </main>

      {% include footer.html %}

      {%- comment -%}
      supp de conteneur de script pour ne pas embraquer le mdr
      {% include script.html %}
      {%- endcomment -%}

      <script src="/js/button_to_top.js" type="text/javascript"></script>

    </div>
  </body>

</html>
