// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// ------
// LAYOUT
// ------

.header {
  height: 11.2rem;
  margin: 0;
  background-color: #ccc;
  display: flex;

  h1 {
    margin: 0;
    align-self: center;
  }

  .baseline {
    text-decoration: none;
    font-size: $caption;
  }
}
