// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// ------
// LAYOUT
// ------

.header {
  height: 11.2rem;

  .baseline {
    text-decoration: none;
    font-size: $caption;
  }
}
