$margin-title-body-large: 56px;
$margin-title-display-small: 48px;

.category-title {
  margin-top: $margin-title-body-large;
}

.headline_thumbs_group_title {
  margin-top: $margin-title-display-small;
  margin-bottom: 32px;
}
