body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  /* avoid min-width: auto on flex and grid children */
  min-width: 0;
  min-height: 0;
}

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
  line-height: 62.5%;
  line-height: calc(1em * 0.625);

  scroll-behavior: smooth;
  ::-moz-selection { padding:0.8rem; color: $white; background-color: $primary-regular};
  ::selection { padding:0.8rem; color: $white; background-color: $primary-regular; };
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;

  @include on-event {
    //color: $text-color;
    text-decoration: underline;
  }
}

.breadcrumb {
  @extend .bodyMedium;
  display: flex;
  max-width: 115.2rem;
  margin: 0 auto;
  margin-top: 1.6rem;
  margin-left: 0.8rem;
  color: $greys-steel-medium;
  a {
    color: $greys-steel-medium;
    text-decoration: none;
    &::after {
      display: inline-block;
      content: '>';
      margin: 0 0.4rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

#myBtn {
  @extend .bodyMedium;
  min-height: 4.8rem;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $primary-dark; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0 1.6rem; /* Some padding */
  border-radius: 0.8rem; /* Rounded corners */
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  img {
    margin-right: 0.8rem;
  }
  transition: all 0.4s ease-in-out;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

