// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
/// Regular font family
/// @type List
// $font-family-base: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-family-base: Arial, "Helvetica Neue", Helvetica, sans-serif !default;

/// Heading font family
/// @type List
// $font-family-headings: "Shadows Into Light", $font-family-base;
// @import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
// $font-family-headings: "Abril Fatface", cursive, $font-family-base;
$font-family-headings: Georgia, Times, "Times New Roman", serif;

/// font size
$body-large: 2rem;
$body-medium: 1.6rem !default; //16px = 1.6rem
$body-small: 1.4rem;
$caption: 1.2rem;

// fsz heading
$display-xx-large: 6.4rem;
$display-x-large: 5.6rem;
$display-large: 4.8rem;
$display-medium: 3.6rem;
$display-small: 3.2rem;
$heading: 2.4rem;
$sub-heading: 1.3rem;
// line-height
$line-height-base: 1.6rem !default; //16px = 1.6rem

// use with @extend to mimic atomic design
.displayMedium {
  line-height: 4rem;
  font-size: $display-medium;
  font-family: $font-family-headings;
  font-style: italic;
  font-weight: bold;
  color: $primary-regular;
}
.heading {
  line-height: 3.2rem;
  font-size: $heading;
  font-family: $font-family-base;
  font-weight: bold;
  color: $greys-steel-light;
}
.bodyMedium {
  line-height: 2.4rem;
  font-size: $body-medium;
  font-family: $font-family-base;
}

.displayMedium, .heading {
  margin: 0;
}
